.main {
    background-color: #f9f9f9;
    padding-bottom: 30px;
}

button {
    display: inline-block;
    background-color: #0E65CB;
    border-radius: 10px;
    border: 4px double #cccccc;
    color: #eeeeee;
    text-align: center;
    font-size: 18px;
    padding: 20px;
    width: 150px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.card .cimg {
    height: 230px;
    transition: transform 0.3s;
    cursor: pointer;
}